<%- include('./prtials/head.ejs') %>
<body>
    <%- include('./prtials/Link.ejs') %>
    <div class="recipeis">
        <div class="reciepe">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt molestiae repellendus.</p>
        </div>
        <div class="reciepe">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt molestiae repellendus.</p>
        </div>
        <div class="reciepe">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt molestiae repellendus.</p>
        </div>
        <div class="reciepe">
            <h3>Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt molestiae repellendus.</p>
        </div>
    </div>
</body>
</html>